@model AssignmentTask.Application.ViewModels.AssignmentViewModel

@{
    ViewData["Title"] = "StudentAssignment";
}

<h1>Student Assignment</h1>
<br />
<div>
    <hr />
    <dl class="row">
        @if (Model != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Student
            </dt>
            <dd class="col-sm-10">
                @ViewBag.student.Name @ViewBag.student.Surname
            </dd>
            <dt class="col-sm-2">
                Task
            </dt>
            <dd class="col-sm-10">
                @ViewBag.task.TaskName
            </dd>
        }
        else
        {
            <dd>Task Closed</dd>
        }
    </dl>
    <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-success">Add Comment</a>
    <a href="/Comments/List?id=@Model.Id" type="button" class="btn btn-outline-success">Comments</a>
    <a href="/Assignments/Download?id=@Model.Id" type="button" class="btn btn-outline-success">Download</a>
</div>
