@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<AssignmentTask.Application.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List of Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            @if (User.IsInRole("TEACHER"))
            {
                <th scope="col"> List of Assignments</th>
            }
            @if (User.IsInRole("STUDENT"))
            {
                <th scope="col">Assignment</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @{ var description = System.Net.WebUtility.HtmlDecode(item.Description);}
                    <span>@description</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                @if (User.IsInRole("TEACHER"))
                {
                    <td>
                        <a href="/Assignments/ViewAssignments?id=@WebApplication1.Utility.Encryption.SymmetricEncrypt(item.Id.ToString())" class="btn btn-outline-info">View Assignments</a>
                    </td>
                }
                @if (User.IsInRole("STUDENT"))
                {
                    @if (DateTime.Now <= item.Deadline)
                    {
                        <td>
                            <a href="/Assignments/Create?id=@item.Id" class="btn btn-outline-info">Upload Assignment</a>
                        </td>
                    }
                    else
                    {
                        <td>CLOSED</td>
                    }

                 }
            </tr>
        }
    </tbody>
</table>
